<div class="flex items-center justify-center w-full h-full">
  <div
    class="w-[400px] flex flex-col items-center p-4 bg-white shadow-xl rounded-xl"
  >
    <span class="text-2xl font-bold">Iniciar sesión con código QR</span>
    <img class="w-[250px]" [src]="imageQR" />
    <span class="text-xl font-bold"
      >Escanea el código QR para iniciar sesión</span
    >
    <ul class="text-sm text-center">
      <li>1. Abre la aplicación en tu teléfono</li>
      <li>2. Toca en Ajustes > Dispositivos vinculados</li>
      <li>3. Toca en Vincular un dispositivo</li>
      <li>4. Apunta tu cámara hacia esta pantalla para escanear el código</li>
    </ul>

    <button class="w-full py-2 mt-4 bg-black rounded-lg shadow-lg">
      <span class="font-medium text-white">00:50</span>
    </button>
  </div>
</div>
